<template>
  <form @submit.prevent="addGroup">
    <div class="formContent">
      <slot>
        <h1>{{ title }}</h1><br />
      </slot> 

      <div class="formInfo">
        <div class="inputContainer">
          <input type="number" v-model="num" required class="inP" placeholder=" "/>
          <div class="bubble" style="width: 75px"/>
          <label for="num" class="plcHolder">Number</label>
        </div>
        <div class="inputContainer">
          <select v-model="fieldType" required class="inP" placeholder=" ">
            <option value="Softwareentwicklung">Softwareentwicklung</option>
            <option value="Netzwerktechnik">Netzwerktechnik</option>
            <option value="FIA">FIA</option>
            <option value="QualifyingSW">Qualifying Software</option>
            <option value="QualifyingNT">Qualifying Netzwerk</option>
          </select>
          <div class="bubble" style="width: 65px"/>
          <label for="fieldType" class="plcHolder">Subject</label>
        </div>
        <div class="inputContainer">
          <select v-model="room" required class="inP" placeholder=" ">
            <option value="Room1">Raum 1</option>
            <option value="Room2">Raum 2</option>
            <option value="Room3">Raum 3</option>
            <option value="Room4">Raum 4</option>
            <option value="Room5">Raum 5</option>
            <option value="Room6">Raum 6</option>
            <option value="Room7">Raum 7</option>
            <option value="Room8">Raum 8</option>
            <option value="Room9">Raum 9</option>
            <option value="Room10">Raum 10</option>
            <option value="Room11">Raum 11</option>
            <option value="Room12">Raum 12</option>
            <option value="Room13">Raum 13</option>
            <option value="Room14">Raum 14</option>
          </select>
          <div class="bubble" style="width: 55px"/>
          <label for="fieldType" class="plcHolder">Room</label>
        </div>
        <br />
        <button type="submit">Send</button>
        <br />
      </div>
    </div>
  </form>
</template>


<script>
export default {
  data: () => ({
        id: '',
        num: '',
        name: '',
        fieldType: '',
        room: ''
    }),
  props: {
    title: {
      type: String,
      default: "Add Group",
    },
  },
   mounted() {
        this.$store.dispatch('loadGroup')
    },
   methods:{
        async addGroup(){
            let group = {
                id: this.id,
                num: this.num,
                fieldType: this.fieldType,
                room: this.room,
            }
            this.num= ''
            this.fieldType= ''
            this.room= ''

            await this.$store.dispatch('addGroup', group)
            this.$store.dispatch('loadGroup')
        },
    }
};
</script>

<style scoped>
.formContent{
  margin: auto;
  margin-top: 50px;
}

form {
  width: 350px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  height: 600px;
  display: flex;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.inputContainer {
  height: 45px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.bubble {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 21px;
  left: 20px;
  position: absolute;
  top: -23px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 86px;
}

.inP:focus ~ .bubble,
.inP:not(:placeholder-shown) ~ .bubble {
  transform: translateY(8px);
  background: rgba(255, 255, 255, 0.9);
}

.plcHolder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

.inP:focus ~ .plcHolder,
.inP:not(:placeholder-shown) ~ .plcHolder {
  transform: translateY(-30px) translateX(10px) scale(0.85);
}

.inP:not(:placeholder-shown) ~ .plcHolder {
  color: #000000;
}

.inP:focus ~ .plcHolder {
  color: #dc2f55;
}

button {
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1.2rem;
    width: 112px;
    border-radius: 20px;
}
button:hover,
button:focus {
    background: black;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}
</style>