<template>
    <tbody>
    <tr v-for="grp in group" :key="grp.id">
        <td>{{grp.id}}</td>
        <td>{{grp.name}}</td>
        <td>{{grp.fieldType}}</td>
        <td>{{grp.room}}</td>
        <td>{{grp.startDate}}</td>
        <td class="tableButtons">
            <button type="button" @click="deleteGroup(grp.id)"><img src="../assets/icons/delete.svg" alt="" style="width: 25px; margin-top:5px;"></button>
            <button type="button" @click="showEditModal(grp)"><img src="../assets/icons/edit.svg" alt="" style="width: 25px; margin-top:5px;"></button>
            <button type="button" @click="showAddModal(grp)"><img src="../assets/icons/add.svg" alt="" style="width: 25px; margin-top:5px;"></button>
        </td>

        <div class="editG" @click="editModal=false" v-if="editModal">
            <div class="editForm"  @click.stop>
                <div class="formContent">
                    <h1>Edit</h1>
                    <div class="inputContainer">
                        <input type="text" v-model="eGrp.num" required class="inP" placeholder=" "/>
                        <div class="bubble" style="width: 75px"/>
                        <label for="num" class="plcHolder">Number</label>
                        </div>
                        <div class="inputContainer">
                        <select v-model="eGrp.fieldType" required class="inP" placeholder=" ">
                            <option value="Softwareentwicklung">Softwareentwicklung</option>
                            <option value="Netzwerktechnik">Netzwerktechnik</option>
                            <option value="FIA">FIA</option>
                            <option value="QualifyingSW">Qualifying Software</option>
                            <option value="QualifyingNT">Qualifying Netzwerk</option>
                        </select>
                        <div class="bubble" style="width: 65px"/>
                        <label for="fieldType" class="plcHolder">Subject</label>
                        </div>
                        <div class="inputContainer">
                        <select v-model="eGrp.room" required class="inP" placeholder=" ">
                            <option value="Room1">Raum 1</option>
                            <option value="Room2">Raum 2</option>
                            <option value="Room3">Raum 3</option>
                            <option value="Room4">Raum 4</option>
                            <option value="Room5">Raum 5</option>
                            <option value="Room6">Raum 6</option>
                            <option value="Room7">Raum 7</option>
                            <option value="Room8">Raum 8</option>
                            <option value="Room9">Raum 9</option>
                            <option value="Room10">Raum 10</option>
                            <option value="Room11">Raum 11</option>
                            <option value="Room12">Raum 12</option>
                            <option value="Room13">Raum 13</option>
                            <option value="Room14">Raum 14</option>
                        </select>
                        <div class="bubble" style="width: 55px"/>
                        <label for="fieldType" class="plcHolder">Room</label>
                        </div>
                    <button type="button" class="modalBtn" @click="editGroup(grp.id)">Send</button>
                </div>
            </div>
        </div>

        <div class="addG" @click="addModal=false" v-if="addModal">
            <div class="addForm" @click.stop>
                <h2>What would you like to add to the Group: {{eGrp.name}} ?</h2>
                <div class="ifBtn">
                    <button type="button" @click="ifStudentModal(eGrp)">Students</button>
                    <button type="button" @click="ifTrainerModal(eGrp)">Trainers</button>
                </div>
            </div>
        </div>

        <div class="addG" @click="ifStudent=false" v-if="ifStudent">
            <div class="contentStudent"  @click.stop>
                <table class="tableInfo">
                    <div style="text-align: center;"><h1>Add to the Group: {{eGrp.name}}</h1></div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Room</th>
                            <th>Start date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr v-for="stud in student" :key="stud.id">
                        <td>{{stud.student.id}}</td>
                        <td>{{stud.student.firstName}}</td>
                        <td>{{stud.student.lastName}}</td>
                        <td>{{stud.student.fieldType}}</td>
                        <td>{{stud.groupName}}</td>
                        <td class="tableButtons">
                            <button type="button" @click="addStudentToGroup(stud.student)"><img src="../assets/icons/add.svg" alt="" style="width: 25px; margin-top:5px;"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="addG" @click="ifTrainer=false" v-if="ifTrainer">
            <div class="addContent"  @click.stop>
                <div class="addTable">
                    <div style="text-align: center;"><h1>Zur Gruppe: {{eGrp.name}} Hinzufügen</h1></div>
                    <thead>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>{{eGrp.montag.firstName}} {{ eGrp.montag.lastName}}</td>
                            <td>{{eGrp.dienstag.firstName}} {{ eGrp.dienstag.lastName}}</td>
                            <td>{{eGrp.mittwoch.firstName}} {{ eGrp.mittwoch.lastName}}</td>
                            <td>{{eGrp.donnerstag.firstName}} {{ eGrp.donnerstag.lastName}}</td>
                            <td>{{eGrp.freitag.firstName}} {{ eGrp.freitag.lastName}}</td>
                        </tr>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Specialization</th>
                            <th>Class schedule</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr v-for="tra in trainer" :key="tra.id">
                        <td>{{tra.id}}</td>
                        <td>{{tra.firstName}}</td>
                        <td>{{tra.lastName}}</td>
                        <td>{{tra.subjectType}}</td>
                        <td class="dayButtons" >
                            <button type="button" @click="addTrainerToLesson(tra, 'Mo')">Mon</button>
                            <button type="button" @click="addTrainerToLesson(tra, 'Di')">Tue</button>
                            <button type="button" @click="addTrainerToLesson(tra, 'Mi')">Wed</button>
                            <button type="button" @click="addTrainerToLesson(tra, 'Do')">Thu</button>
                            <button type="button" @click="addTrainerToLesson(tra, 'Fr')">Fri</button>
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </tr>
</tbody>
    
</template>

<script>
export default{
    data: () => ({
        id: '',
        num: '',
        name:'',
        fieldType: '',
        room: '',
        editModal: false,
        addModal: false,
        ifStudent: false,
        ifTrainer: false,
        eGrp: {},
        lessonDay: ''
    }),
    mounted() {
        this.$store.dispatch('loadGroup');
        this.$store.dispatch('loadStudent');
        this.$store.dispatch('loadTrainer');
    },
    methods:{
        async deleteGroup(id){
            await this.$store.dispatch('deleteGroup', id);
            this.$store.dispatch('loadGroup');
        },

        showEditModal(eGrp){
            this.eGrp = eGrp
            this.editModal = !this.editModal
        },

        showAddModal(eGrp){
            this.eGrp = eGrp
            this.addModal = !this.addModal
        },

        ifStudentModal(eGrp){
            this.eGrp = eGrp
            this.addModal = !this.addModal
            this.ifStudent = !this.ifStudent
        },

        ifTrainerModal(eGrp){
            this.addModal = !this.addModal
            this.ifTrainer = !this.ifTrainer
            this.eGrp = eGrp
            if(eGrp.montag == null){
                eGrp.montag = ''
            }
            if(eGrp.dienstag === null){
                eGrp.dienstag = ''
            }
            if(eGrp.mittwoch === null){
                eGrp.mittwoch = ''
            }
            if(eGrp.donnerstag === null){
                eGrp.donnerstag = ''
            }
            if(eGrp.freitag === null){
                eGrp.freitag = ''
            }
        },

        async editGroup(){
        this.editModal = !this.editModal;
        let group = {
            id: this.eGrp.id,
            num: this.eGrp.num,
            room: this.eGrp.room,
            fieldType: this.eGrp.fieldType,
            startDate: this.startDate,
        }
        await this.$store.dispatch('editGroup', group);
        this.$store.dispatch('loadGroup');
      },

        async addStudentToGroup(eStud){
            let studentToGroup = {
                id: this.eGrp.id,
                studentId : eStud.id
            }
            await this.$store.dispatch('addStudentToGroup', studentToGroup);
            console.log('loadStudent')
            await this.$store.dispatch('loadStudent');
        },

        async addTrainerToLesson(eTra, lessonDay){
            let trainerToGroup = {
                id: this.eGrp.id,
                trainerId: eTra.id,
                lessonDay: lessonDay
            }
            await this.$store.dispatch('addTrainerToGroup', trainerToGroup);
            await this.$store.dispatch('loadTrainer');
            await this.$store.dispatch('loadGroup');
        },
    },
    computed: {
        group(){
            return this.$store.state.group;
        },
        student() {
            return this.$store.state.student;
        },
        trainer() {
            return this.$store.state.trainer;
        },
    },
}
</script>

<style scoped>
table{
     table-layout: fixed;
}

.editG{
    background: #00000013;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.editForm{
    background: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    display: flex;
}

.addG{
    background: #00000033;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.addForm{
    background: #ffffff;
    border-radius: 20px;
    width: 450px;
    height: 200px;
}

.tForm{
    background: #ffffff;
    border-radius: 20px;
    width: 1024px;
    height: 512px;
}

tr{
  border-bottom: 1px solid rgb(255, 255, 255);
}
.tableInfo th, .tableInfo td{
  padding: 12px 15px;
}

tr:nth-of-type(even){
}

tr:hover{
  background: rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.contentStudent{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh;
    border-collapse: collapse;
}

.tableInfo{
  text-align: left;
  table-layout: fixed;
  width: 800px;
  height: 400px;
  overflow-y: auto;
  border-collapse: collapse;
  display: block;
  border-radius: 20px;
  background: rgba(255, 255, 255);
}

.tableInfo thead tr{
  text-align: left;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
}

.tableInfo th{
  padding: 20px 10px 15px 15px;
  width: 1100px;
}

th:nth-of-type(1){
  width: 40px;
}

.addContent{
    border-collapse: collapse;
}

.addTable{
  text-align: left;
  table-layout: fixed;
  width: 800px;
  max-height: 400px;
  overflow-y: auto;
  border-collapse: collapse;
  display: block;
  border-radius: 20px;
  background: rgba(255, 255, 255);
}

.addTable thead tr{
  text-align: left;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
}

.addTable th{
  padding: 20px 10px 15px 15px;
  width: 1100px;
}

.formContent{
  margin: auto;
}

.inputContainer {
  height: 45px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.bubble {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 21px;
  left: 20px;
  position: absolute;
  top: -23px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 86px;
}

.inP:focus ~ .bubble,
.inP:not(:placeholder-shown) ~ .bubble {
  transform: translateY(8px);
  background: rgba(255, 255, 255, 0.9);
}

.plcHolder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

.inP:focus ~ .plcHolder,
.inP:not(:placeholder-shown) ~ .plcHolder {
  transform: translateY(-30px) translateX(10px) scale(0.85);
}

.inP:not(:placeholder-shown) ~ .plcHolder {
  color: #000000;
}

.inP:focus ~ .plcHolder {
  color: #dc2f55;
}

.ifBtn button{
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    width: 125px;
    margin-top: 20px;
}

.tableButtons{
    display: flex;
    justify-content: flex-end;
}
.dayButtons{
    display: flex;
}

.modalBtn{
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    width: 112px;
}

button {
    border: none;
    border-radius:20px;
    background: linear-gradient(320deg, rgb(196, 226, 255) 10%, rgb(237, 209, 255) 100%);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}
</style>