<template>
<div class="nav">
    <div class="backG">
        <div class="inputContainer">
            <input type="text" v-model="firstName" required class="inP" placeholder=" "/>
            <label for="firstName" class="plcHolder">Search</label>
        </div>
        <router-link to ="/"><div class="pb"><div class="circle"></div></div></router-link>
    </div>
</div>
</template>

<script>
export default{
    name: "NavBar"
}
</script>

<style scoped>
.nav{
    position: fixed;
    margin-top: 10px;
    right: 70px;
}

.backG{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 350px;
    height: 60px;
    border-radius: 60px;
    position: absolute;
    right: 0px;
    margin: 10px;
}

.pb img{
    width: 50px;
    border-radius: 60px;
    position: absolute;
    right: 8px;
    margin: 5px 5px;
}

.pb .circle{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    position: absolute;
    right: 8px;
    margin: 5px 5px;
    background: linear-gradient(320deg, rgb(196, 226, 255) 10%, rgb(237, 209, 255) 100%);
}

.inputContainer {
    height: 35px;
    position: relative;
    width: 250px;
    margin: 30px 0;
    position: absolute;
    top: -18px;
    left: 20px;
}

.inP {
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    color: black;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.plcHolder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 12px;
}
</style>