<template>
  <tbody>
    <tr v-for="stud in student" :key="stud.id">
      <td>{{stud.student.id}}</td>
      <td>{{stud.student.firstName}}</td>
      <td>{{stud.student.lastName}}</td>
      <td>{{stud.student.fieldType}}</td>
      <td>{{stud.student.startDate}}</td>
      <td>{{stud.groupName}}</td>
      <td class="tableButtons">
        <button  type="button" @click="deleteStudent(stud.student.id)"><img src="../assets/icons/delete.svg" style="width:25px; margin-top:5px;" /></button>
        <button type="button" @click="showEditModal(stud)"><img src="../assets/icons/edit.svg" style="width:25px; margin-top:5px;" /></button>
      </td>

      <div class="editS" @click="modal=false" v-if="modal">
        <div class="editForm"  @click.stop>
          <div class="formContent">
            <h1>Edit</h1>
            <div class="inputContainer">
              <input type="text" v-model="eStud.student.firstName" required class="inP" placeholder=" "/>
              <div class="bubble"/>
              <label for="firstName" class="plcHolder">Firstname</label>
            </div>
          <div class="inputContainer">
              <input type="text" v-model="eStud.student.lastName" required class="inP" placeholder=" "/>
              <div class="bubble"/>
              <label for="lastName" class="plcHolder">Lastname</label>
            </div>
            <div class="inputContainer">
              <select v-model="eStud.student.fieldType" required class="inP" placeholder=" ">
                <option value="Softwareentwicklung">Softwareentwicklung</option>
                <option value="Netzwerktechnik">Netzwerktechnik</option>
                <option value="FIA">FIA</option>
                <option value="QualifyingSW">Qualifying Software</option>
                <option value="QualifyingNT">Qualifying Netzwerk</option>
              </select>
              <div class="bubble" style="width: 110px"/>
              <label for="fieldType" class="plcHolder">Specialization</label>
            </div>
            <button type="button" class="modalBtn" @click="editStudent(stud.student.id)">Send</button>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</template>

<script>
export default {
  data: () => ({
    id: '',
    firstName: '',
    lastName: '',
    fieldType: '',
    startDate: '',
    groupName: '',
    modal: false,
    eStud: {},
  }),
  props: {},
  mounted() {
    this.$store.dispatch("loadStudent");
  },
  methods: {
    async deleteStudent(id) {
      await this.$store.dispatch("deleteStudent", id);
      this.$store.dispatch("loadStudent");
    },
      showEditModal(eStud){
        this.eStud = eStud
        this.modal = !this.modal
      },
      async editStudent(){
        this.modal = !this.modal;
        let student = {
                id: this.eStud.student.id,
                firstName: this.eStud.student.firstName,
                lastName: this.eStud.student.lastName,
                fieldType: this.eStud.student.fieldType,
                startDate: this.eStud.student.startDate,
            }
        await this.$store.dispatch('editStudent', student);
        this.$store.dispatch('loadStudent');
      }
  },
  computed: {
    student() {
      return this.$store.state.student;
    },
  },
};
</script>

<style scoped>
.editS{
  background: #00000013;
  position: absolute;
  display: flex;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.editForm{
  background: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  display: flex;
}

tr{
  border-bottom: 1px solid rgb(255, 255, 255);
}
th, td{
  padding: 10px 20px;
}

tr:nth-of-type(even){
}

tr:hover{
  background: rgb(255, 255, 255);
  transition: all 0.2s ease;
}

th:nth-of-type(1){
  width: 40px;
}

.formContent{
  margin: auto;
}

.inputContainer {
  height: 45px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.bubble {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 21px;
  left: 20px;
  position: absolute;
  top: -23px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 86px;
}

.inP:focus ~ .bubble,
.inP:not(:placeholder-shown) ~ .bubble {
  transform: translateY(8px);
  background: rgba(255, 255, 255, 0.9);
}

.plcHolder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

.inP:focus ~ .plcHolder,
.inP:not(:placeholder-shown) ~ .plcHolder {
  transform: translateY(-30px) translateX(10px) scale(0.85);
}

.inP:not(:placeholder-shown) ~ .plcHolder {
  color: #000000;
}

.inP:focus ~ .plcHolder {
  color: #dc2f55;
}


.tableButtons{
  display: flex;
  justify-content: flex-end;
}

.modalBtn{
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    width: 112px;
}

button {
  border: none;
  border-radius:20px;
  background: linear-gradient(320deg, rgb(196, 226, 255) 10%, rgb(237, 209, 255) 100%);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
button:active {
  transform: scale(0.99);
}
</style>