<template>
  <form @submit.prevent="addStudent">
    <div class="formContent">
      <slot>
        <h1>{{ title }}</h1><br />
      </slot> 

      <div class="formInfo">
          <div class="inputContainer">
            <input type="text" v-model="firstName" required class="inP" placeholder=" "/>
            <div class="bubble" style="width: 75px"/>
            <label for="firstName" class="plcHolder">Firstname</label>
          </div>
          <div class="inputContainer">
            <input type="text" v-model="lastName" required class="inP" placeholder=" "/>
            <div class="bubble"/>
            <label for="lastName" class="plcHolder">Lastname</label>
          </div>
          <div class="inputContainer">
            <select v-model="fieldType" required class="inP" placeholder=" ">
              <option value="Softwareentwicklung">Softwareentwicklung</option>
              <option value="Netzwerktechnik">Netzwerktechnik</option>
              <option value="FIA">FIA</option>
              <option value="QualifyingSW">Qualifying Software</option>
              <option value="QualifyingNT">Qualifying Netzwerk</option>
            </select>
            <div class="bubble" style="width: 110px"/>
            <label for="fieldType" class="plcHolder">Specialization</label>
          </div>
        <br />
        <button type="submit">Send</button>
        <br />
      </div>
    </div>
  </form>
</template>


<script>
export default {
  data: () => ({
        id: '',
        firstName: '',
        lastName: '',
        fieldType: '',

    }),
  props: {
    title: {
      type: String,
      default: "Add Student",
    },
  },
   mounted() {
        this.$store.dispatch('loadStudent')
    },
   methods:{
    async addStudent(){
        let student = {
            id: this.id,
            firstName: this.firstName,
            lastName: this.lastName,
            fieldType: this.fieldType,
        }
      this.firstName= ''
      this.lastName= ''
      this.fieldType= ''

      await this.$store.dispatch('addStudent', student)
      this.$store.dispatch('loadStudent')
    },
  }
};
</script>

<style scoped>
.formContent{
  margin: auto;
  margin-top: 50px;
}

form {
  width: 350px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 600px;
  display: flex;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.inputContainer {
  height: 45px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/* bubble oben! */
.bubble {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 21px;
  left: 20px;
  position: absolute;
  top: -23px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 86px;
}

/* schiebt bubble nach unten */
.inP:focus ~ .bubble,
.inP:not(:placeholder-shown) ~ .bubble {
  transform: translateY(8px);
  background: rgba(255, 255, 255, 0.9);
}

.plcHolder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

/* schiebt rauf */
.inP:focus ~ .plcHolder,
.inP:not(:placeholder-shown) ~ .plcHolder {
  transform: translateY(-30px) translateX(10px) scale(0.85);
}

.inP:not(:placeholder-shown) ~ .plcHolder {
  color: #000000;
}

/* farbe ändern nach raufschieben */
.inP:focus ~ .plcHolder {
  color: #dc2f55;
}

button {
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1.2rem;
    width: 112px;
    border-radius: 20px;
}
button:hover,
button:focus {
    background: black;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}
</style>