<template>
    <div class="ntools">
        <router-link to ="/dashboard" style="justify-content: center;"><img src="../assets/icons/home.svg" style="margin-top:10vh; width: 50px;"></router-link>
        <router-link to ="/teilnehmer" style="justify-content: center;"><img src="../assets/icons/student.svg" style="margin-top:5vh; width: 50px;"></router-link>
        <router-link to ="/trainer" style="justify-content: center;"><img src="../assets/icons/trainer.svg" style="margin-top:5vh; width: 50px;"></router-link>
        <router-link to ="/gruppe" style="justify-content: center;"><img src="../assets/icons/group.svg" style="margin-top:5vh; width: 50px;"></router-link>
    </div>
</template>

<script>
export default{
    name: "NavTools"
}
</script>

<style scoped>

.ntools{
    height: 600px;
    width: 80px;
    margin: 18vh 3vh 0 1vh;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
a{
    text-decoration: none;
    color: white;
    display: flex;
}
img{
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(320deg, rgb(196, 226, 255) 10%, rgb(237, 209, 255) 100%);
}
</style>