<template>
  <form @submit.prevent="addTrainer">
    <div class="formContent">
      <slot>
        <h1>{{ title }}</h1>
      </slot> 

      <div class="formInfo">
        <div class="inputContainer">
          <input type="text" v-model="firstName" required class="inP" placeholder=" "/>
          <div class="bubble" style="width: 75px"/>
          <label for="firstName" class="plcHolder">Firstname</label>
        </div>
        <div class="inputContainer">
            <input type="text" v-model="lastName" required class="inP" placeholder=" "/>
            <div class="bubble"/>
            <label for="lastName" class="plcHolder">Lastname</label>
        </div>
        <div class="inputContainer">
            <input type="text" v-model="residence" required class="inP" placeholder=" "/>
            <div class="bubble" style="width: 80px"/>
            <label for="residence" class="plcHolder">Residence</label>
        </div>
        <div class="inputContainer">
            <input type="number" v-model="salaryBrutto" required class="inP" placeholder=" "/>
            <div class="bubble" style="width: 100px"/>
            <label for="salaryBrutto" class="plcHolder">Gross salary</label>
        </div>
        <div class="inputContainer">
            <select v-model="subjectType" required class="inP" placeholder=" ">
            <option value="Java">Java</option>
            <option value="Web">Web</option>
            <option value="Datenbanken">Datenbanken</option>
            <option value="Karrierecoaching">Karrierecoaching</option>
            <option value="Linux">Linux</option>
            <option value="Windows">Windows</option>
          </select>
          <div class="bubble" style="width: 65px"/>
          <label for="fieldType" class="plcHolder">Subject</label>
        </div>

        <div class="inputContainer2">
          <div class="inP2">
            <div class="bubble2" style="width: 80px"/>
            <label for="employmentDays" class="plcHolder2">Work time</label>
              <div class="empDays" v-for="item in Items" v-bind:key="item.id">
                <input type="checkbox" v-model="user.employmentDays" :id="item.name" :value="item.name">
                <label class="checkB" :for="item.id">{{item.name}}</label>
              </div>
          </div>
        </div>

        <button type="submit">Send</button>
      </div>
    </div>
  </form>
</template>


<script>
export default {
  data: () => ({
        id: '',
        firstName: '',
        lastName: '',
        residence: '',
        salaryBrutto: '',
        subjectType: '',
        Items: [{ name: 'Mo' },{ name: 'Di'},{ name: 'Mi'},{ name: 'Do'},{ name: 'Fr'}],
        user:{employmentDays: []},
    }),
  props: {
      title: {
        type: String,
        default: "Add Trainer",
      },
  },
   mounted() {
        this.$store.dispatch('loadTrainer')
    },
   methods:{
        async addTrainer(){
            let trainer = {
                id: this.id,
                firstName: this.firstName,
                lastName: this.lastName,
                residence: this.residence,
                salaryBrutto: this.salaryBrutto,
                subjectType: this.subjectType,
                employmentDays: this.user.employmentDays,
            }
            this.firstName= ""
            this.lastName= ""
            this.residence= ""
            this.salaryBrutto= ""
            this.subjectType= ""
            this.user.employmentDays= []

            await this.$store.dispatch('addTrainer', trainer)
            this.$store.dispatch('loadTrainer')
        },
    }
};
</script>

<style scoped>
.formContent{
  margin: auto;
}

form {
  width: 350px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  height: 600px;
  display: flex;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.inputContainer {
  height: 45px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.bubble {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 21px;
  left: 20px;
  position: absolute;
  top: -23px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 86px;
}

.inP:focus ~ .bubble,
.inP:not(:placeholder-shown) ~ .bubble {
  transform: translateY(8px);
  background: rgba(255, 255, 255, 0.9);
}

.plcHolder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

.inP:focus ~ .plcHolder,
.inP:not(:placeholder-shown) ~ .plcHolder {
  transform: translateY(-30px) translateX(10px) scale(0.85);
}

.inP:not(:placeholder-shown) ~ .plcHolder {
  color: #000000;
}

.inP:focus ~ .plcHolder {
  color: #dc2f55;
}

.daySelect{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.checkB{
  width: auto;
}

button {
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1.2rem;
    width: 112px;
    border-radius: 20px;
}
button:hover,
button:focus {
    background: black;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}

.inputContainer2 {
  height: 55px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP2 {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
}

.empDays{
  display: grid;
  justify-content: space-around;
  margin: 5px 11px;
  font-size: 0.9rem;
}

.bubble2 {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -16px;
  width: 100px;
}

.plcHolder2{
  height: 20px;
  left: 30px;
  position: absolute;
  top: -16px;
  font-size: 0.85rem;
}
</style>