<template>
    <tbody>
        <tr v-for="tra in trainer" :key="tra.id">
            <td>{{tra.id}}</td>
            <td>{{tra.firstName}}</td>
            <td>{{tra.lastName}}</td>
            <td>{{tra.residence}}</td>
            <td>{{tra.subjectType}}</td>
            <td>{{tra.salaryNetto.toFixed(2)}} €</td>
            <td class="eTime">
                <span class="eEmp">{{arrCount(tra)}}</span><span v-for="day in tra.employmentDays" :key="day" class="eDays">{{day}} </span>
            </td>
            <td class="tableButtons">
                <button type="button" @click="deleteTrainer(tra.id)"><img src="../assets/icons/delete.svg" alt="" style="width:25px; margin-top:5px;"></button>
                <button type="button" @click="showEditModal(tra)"><img src="../assets/icons/edit.svg" alt="" style="width:25px; margin-top:5px;"></button>
            </td>
            <div class="editT" @click="modal=false" v-if="modal">
                <div class="editForm"  @click.stop>
                    <div class="formContent">
                        <h1>Edit</h1>
                        <div class="inputContainer">
                            <input type="text" v-model="eTra.firstName" required class="inP" placeholder=" "/>
                            <div class="bubble" style="width: 75px"/>
                            <label for="firstName" class="plcHolder">Firstname</label>
                        </div>
                        <div class="inputContainer">
                            <input type="text" v-model="eTra.lastName" required class="inP" placeholder=" "/>
                            <div class="bubble"/>
                            <label for="lastName" class="plcHolder">Lastname</label>
                        </div>
                        <div class="inputContainer">
                            <input type="text" v-model="eTra.residence" required class="inP" placeholder=" "/>
                            <div class="bubble" style="width: 80px"/>
                            <label for="residence" class="plcHolder">Residence</label>
                        </div>
                        <div class="inputContainer">
                            <input type="text" v-model="eTra.salaryBrutto" required class="inP" placeholder=" "/>
                            <div class="bubble" style="width: 100px"/>
                            <label for="salaryBrutto" class="plcHolder">Gross salary</label>
                        </div>
                        <div class="inputContainer">
                            <select v-model="eTra.subjectType" required class="inP" placeholder=" ">
                            <option value="Java">Java</option>
                            <option value="Web">Web</option>
                            <option value="Datenbanken">Datenbanken</option>
                            <option value="Karrierecoaching">Karrierecoaching</option>
                            <option value="Linux">Linux</option>
                            <option value="Windows">Windows</option>
                        </select>
                        <div class="bubble" style="width: 65px"/>
                        <label for="fieldType" class="plcHolder">Subject</label>
                        </div>

                        <div class="inputContainer2">
                            <div class="inP2">
                                <div class="bubble2" style="width: 80px"/>
                                <label for="employmentDays" class="plcHolder2">Work time</label>
                                <div class="empDays" v-for="item in Items" v-bind:key="item.id">
                                    <input type="checkbox" v-model="user.employmentDays" :id="item.name" :value="item.name">
                                    <label class="checkB" :for="item.id">{{item.name}}</label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="modalBtn" @click="editTrainer(tra.id)">Send</button>
                    </div>
                </div>
            </div>
        </tr>
    </tbody>
</template>

<script>
export default{
    data: () => ({
        id: '',
        firstName: '',
        lastName: '',
        residence: '',
        salaryBrutto: '',
        salaryNetto: '',
        subjectType: '',
        Items: [{ name: 'Mo' },{ name: 'Di'},{ name: 'Mi'},{ name: 'Do'},{ name: 'Fr'}],
        user:{employmentDays: []},
        modal: false,
        eTra: {},
    }),
    mounted() {
        this.$store.dispatch('loadTrainer');
    },
    methods:{
        async deleteTrainer(id){
            await this.$store.dispatch('deleteTrainer', id);
            this.$store.dispatch('loadTrainer');
            },

        arrCount(trainer){
        const count = trainer.employmentDays?.length;
        if (count == 5){
            return "Full-time"
        }else if (count == 0){
            return ""
        }else
            return "Part-time"
        },

        showEditModal(eTra){
        this.eTra = eTra
        this.modal = !this.modal
        this.user.employmentDays = this.eTra.employmentDays;
        },
        async editTrainer(){
        this.modal = !this.modal;
        let trainer = {
                id: this.eTra.id,
                firstName: this.eTra.firstName,
                lastName: this.eTra.lastName,
                residence: this.eTra.residence,
                salaryBrutto: this.eTra.salaryBrutto,
                subjectType: this.eTra.subjectType,
                employmentDays: this.user.employmentDays,
            }
        await this.$store.dispatch('editTrainer', trainer);
        this.$store.dispatch('loadTrainer');
        this.user.employmentDays = []
      }
    },
    computed: {
        trainer(){
            return this.$store.state.trainer
        },
    },
}
</script>

<style scoped>
table{
     table-layout: fixed;
}

.editT{
    background: #00000013;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.editForm{
    background: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 600px;
    display: flex;
}

.daySelect{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.checkB{
    width: auto;
}

.eDays{
    display: none;
}

.eTime:hover .eEmp{
    display: none;
}
.eTime:hover .eDays{
    display: inline;
}

tr{
  border-bottom: 1px solid rgb(255, 255, 255);
}
th, td{
  padding: 10px 20px;
}

tr:nth-of-type(even){
}

tr:hover{
  background: rgb(255, 255, 255);
  transition: all 0.2s ease;
}

th:nth-of-type(1){
  width: 40px;
}
th:nth-of-type(7){
  min-width: 200px;
}

.formContent{
  margin: auto;
}

.inputContainer {
  height: 45px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.bubble {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 21px;
  left: 20px;
  position: absolute;
  top: -23px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 86px;
}

.inP:focus ~ .bubble,
.inP:not(:placeholder-shown) ~ .bubble {
  transform: translateY(8px);
  background: rgba(255, 255, 255, 0.9);
}

.plcHolder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

.inP:focus ~ .plcHolder,
.inP:not(:placeholder-shown) ~ .plcHolder {
  transform: translateY(-30px) translateX(10px) scale(0.85);
}

.inP:not(:placeholder-shown) ~ .plcHolder {
  color: #000000;
}

.inP:focus ~ .plcHolder {
  color: #dc2f55;
}

.tableButtons{
    display: flex;
    justify-content: flex-end;
}

.modalBtn{
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    width: 112px;
}

button {
  border: none;
  border-radius:20px;
  background: linear-gradient(320deg, rgb(196, 226, 255) 10%, rgb(237, 209, 255) 100%);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}

.inputContainer2 {
  height: 55px;
  position: relative;
  width: 250px;
  margin: 30px 0;
}

.inP2 {
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color: black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
}

.empDays{
  display: grid;
  justify-content: space-around;
  margin: 5px 11px;
  font-size: 0.9rem;
}

.bubble2 {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -16px;
  width: 100px;
}

.plcHolder2{
  height: 20px;
  left: 30px;
  position: absolute;
  top: -16px;
  font-size: 0.85rem;
}
</style>