<template>
  <div id="app">
    <nav-bar v-if="!$route.meta.hideComp"/>
    <div style="display: flex;">
    <toolBar class="toolbar" v-if="!$route.meta.hideComp"/>
      <main>
        <router-view/>
    </main>
    </div>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import ToolBar from "./components/ToolBar.vue";

export default {
  name: "App",
  components: {
    NavBar,
    ToolBar,
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  background: linear-gradient(320deg, rgba(241,248,255,1) 20%, rgba(249,241,255,1) 100%);
  /*background: linear-gradient(320deg, rgb(239, 239, 255) 20%, rgb(246, 235, 253) 100%);
  background: linear-gradient(320deg, rgb(233, 243, 253) 20%, rgba(249,241,255,1) 100%);*/
  height: 100vh;
}
main {
  width: 100%;
  margin: 0 auto;
}
.toolbar{
  position:relative;
  z-index: 1;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
 
::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}
</style>
