<template>
    <div class="contentDashboard">
      <div class="flexBx">
        <div class="chart">
          <div class="chartBlocks">
            <div v-bind:style="{ height: (countMo) + '%' }" class="block"></div>
            <div v-bind:style="{ height: (countDi) + '%' }" class="block"></div>
            <div v-bind:style="{ height: (countMi) + '%' }" class="block"></div>
            <div v-bind:style="{ height: (countDo) + '%' }" class="block"></div>
            <div v-bind:style="{ height: (countFr) + '%' }" class="block"></div>
          </div>
          <div class="chartStats">
            <div class="chartInfo">Mon</div><div class="chartInfo">Tue</div><div class="chartInfo">Wed</div><div class="chartInfo">Thu</div><div class="chartInfo">Fri</div>
          </div>

        </div>
        <div class="info">
          <div class="iLeft">
            <div class="infBox"><h1>{{student.length}}</h1><p>Students</p></div>
            <div class="infBox2"><h1>{{group.length}}</h1><p>Groups</p></div>
          </div>
          <div class="iRight">
            <div class="infBox"><h1>{{trainer.length}}</h1><p>Trainers</p></div>
            <div class="infBox2"><h1>{{countFrReal}}</h1><p>Present</p></div>
          </div>
        </div>
        <div class="invsBox"></div>
        <div class="dClock">
          <div class="contentClock">
            <div class="time">
              <span class="clock">{{ time.hours }}</span>
              <span class="clock">:</span>
              <span class="clock">{{ time.minutes }}</span>
              <span class="clock" id="sec">{{ time.seconds }}</span>
            </div>
            <div class="date">
              <span class="dte">{{time.day}}</span>
              <span class="dte">/</span>
              <span class="dte">{{time.month}}</span>
              <span class="dte">/</span>
              <span class="dte">{{time.year}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flexBx">
        <div class="link">
          <div class="box"><router-link to ="/teilnehmer" class="linkBox"><img src="../assets/icons/student.svg" style="border-radius:20px;"><h2>S</h2></router-link></div>
          <div class="box"><router-link to ="/trainer" class="linkBox"><img src="../assets/icons/trainer.svg"><h2>T</h2></router-link></div>
          <div class="box"><router-link to ="/gruppe" class="linkBox"><img src="../assets/icons/group.svg" style="width:150px; margin-top:30px;"><h2>G</h2></router-link></div>
        </div>
          <div class="artwork" v-tilt="{max: 40, glare:false, perspective: 1200,}">
          <!-- <calendar-cm style="margin:auto; padding-top: 40px;"/> -->
          <!-- <img src="../assets/david.png" style="height: 100%; width: 100% ;margin:auto; object-fit: cover;"> -->
          </div>
      </div>
    </div>
</template>

<script>
const date = new Date();
export default {
  name: "App",
  components: {
  },
  data() {
    return {
      time: {
        hours: date.getHours(),
        minutes: date.getMinutes(),
        seconds: date.getSeconds(),
      },
      timer: undefined,
      countMo: 0,
      countDi: 0,
      countMi: 0,
      countDo: 0,
      countFr: 0,
      countFrReal: 0,
    };
  },

  methods: {
    count(){
      for(let i in this.trainer){
        for(let s in this.trainer[i].employmentDays){
          if(this.trainer[i].employmentDays[s] === "Mo"){
            this.countMo++
          }
          if(this.trainer[i].employmentDays[s] === "Di"){
            this.countDi++
          }
          if(this.trainer[i].employmentDays[s] === "Mi"){
            this.countMi++
          }
          if(this.trainer[i].employmentDays[s] === "Do"){
            this.countDo++
          }
          if(this.trainer[i].employmentDays[s] === "Fr"){
            this.countFr++
            this.countFrReal++
          }
        }
      }
      let sum = this.countMo + this.countDi + this.countMi + this.countDo + this.countFr
      sum = sum/100
      this.countMo = this.countMo /sum
      this.countDi = this.countDi /sum
      this.countMi = this.countMi /sum
      this.countDo = this.countDo /sum
      this.countFr = this.countFr /sum
    },
    clock() {
      var date = new Date();
      this.time = {
        hours: ('0'+date.getHours()).substr(-2),
        minutes: ('0'+date.getMinutes()).substr(-2),
        seconds: ('0'+date.getSeconds()).substr(-2),
        day: ('0'+date.getDate()).substr(-2),
        month: ('0'+date.getMonth()+1).substr(-2),
        year: date.getFullYear(),
      };
      console.log();
    },
  },
  async mounted() {
    await this.$store.dispatch('loadTrainer');
    await this.count();
    await this.$store.dispatch('loadGroup');
    await this.$store.dispatch('loadStudent');
    
  },
  computed: {
    group(){
            return this.$store.state.group;
        },
        student() {
            return this.$store.state.student;
        },
        trainer() {
            return this.$store.state.trainer;
        },
  },
  beforeMount() {
    this.timer = setInterval(this.clock, 1);
  },
  beforeUnmount() {
    clearInterval(this.timer);
  },
};
</script>

<style scoped>
.contentDashboard{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18vh;
}

.flexBx{
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.chart{
  width: 500px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.info{
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.infBox{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  font-size: 4rem;
  font-weight: bold;
}
.infBox2{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 50px 0 0 0;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  font-size: 4rem;
  font-weight: bold;
}

.dClock{
  width: 400px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
}

.contentClock{
  margin: auto;
}

.link{
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.box{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: auto 0;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  font-size: 8rem;
  font-weight: bold;
  display: flex;
  color: linear-gradient(320deg, rgb(174, 216, 255) 10%, rgb(236, 208, 255) 100%);
}

.artwork{
  display: flex;
  -webkit-mask-image: url(../assets/LogoPng-schw.png);
  mask-image: url(../assets/LogoPng-schw.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 400px;
  height: 240px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6);
  background: linear-gradient(320deg, rgb(174, 216, 255) 10%, rgb(236, 208, 255) 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.invsBox{
  width: 100px;
}

.time{
  margin: auto;
}
.clock{
  font-size: 6rem;
  font-weight: bold;
}
.clock#sec{
  font-size: 2rem;
}

.dte{
  font-size: 1.5rem;
}

h1{
  text-align:center;
  font-size: 3rem;
  margin: 15px 0 0 0;
}
h2{
  font-size: 7rem;
  margin: 0;
  background: -webkit-linear-gradient(320deg, rgb(151, 205, 255) 10%, rgb(214, 152, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 1;
}
p{
  text-align:center;
  font-size: 0.7rem;
  margin: 0;
  position: relative;
  bottom: -5px;
  color: black;
}

img{
  width:120px; 
  margin-top: 40px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.linkBox{
  width:100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.chartBlocks{
  width: 500px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.block{
  width: 50px; 
  background: black; 
  color: white; 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5rem;
}

.block:hover{
  background: linear-gradient(320deg, rgb(168, 213, 255) 10%, rgb(226, 180, 255)100%);
}

.chartStats{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-top: 1px solid black;
  height: 40px;
}

.chartInfo{
  width: 50px;
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
</style>