<template>
  <div class="contentGroup">
        <table class="tableInfo">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Specialization</th>
              <th>Room</th>
              <th>Start date</th>
              <th></th>
            </tr>
          </thead>
          <group-info/>
        </table>
        <group-form>
          <template #disclaimer> &nbsp; </template>
        </group-form>
  </div>
</template>

<script>
import GroupForm from "../components/GroupForm.vue";
import GroupInfo from "../components/GroupInfo.vue";

export default {
  name: "GroupView",
  components: {
    GroupForm,
    GroupInfo,
  },
};
</script>

<style scoped>
.contentGroup{
  margin-left: 25px;
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  border-collapse: collapse;
}

.tableInfo{
  text-align: left;
  table-layout: fixed;
  width: 1100px;
  height: 600px;
  overflow-y: auto;
  border-collapse: collapse;
  display: block;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.tableInfo thead tr{
  text-align: left;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;

  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.tableInfo th, .tableInfo td{
  padding: 20px 10px 15px 15px;
  width: 1100px;
}

th:nth-of-type(1){
  width: 40px;
}
th:nth-of-type(2){
  width: 150px;
}

.tableInfo thead th{
  padding: 20px;
}
</style>
