<template>
    <div class="contentLanding">
        <header>
            <router-link to ="/dashboard" tag="button">LAUNCH</router-link>
        </header>
        <main>
            <div class="heroleft">
                <h1>Hallo &</h1>
                <h1>Welcome </h1>
                <h2>to the administraions tool - CodersBay</h2>
            </div>
            <div class="heroright">
                <div class="box" v-tilt="{max: 40, glare:false, perspective: 1200, scale:1.3,}"></div>
                <video src="../assets/animations/animation.webm" loop autoplay muted class="heroright"></video>
            </div>
        </main>
        <footer></footer>
    </div>
</template>

<script>
</script>

<style scoped>
template{
    margin: 0;
}
header{
    text-align: right;
    width: 1024px;
    justify-content: end;
    margin: 30px auto;
}

main{
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 170px auto;
}

footer{
    display: inline;
    bottom: 0;
    width: 1024px;
    height: 50px;
    margin: 150px auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    background: red;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    margin: 0;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: 1.1rem;
    margin-top: 5px;
}

.heroleft{
    margin-top: 30px;
}

.box{
    -webkit-mask-image: url(../assets/LogoPng-schw.png);
    mask-image: url(../assets/LogoPng-schw.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 420px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 2;
    left: 950px;
}
video{
    position:absolute;
    z-index: 0;
    top: 30px;
    left: 550px;
    width: 1200px;
}


button {
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 20px;
    background: black;
    color: #ffffff;
    font-size: 1rem;
    width: 112px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}
button:hover,
button:focus {
    background: black;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}
</style>