<template>
  <div class="contentStudent">
        <table class="tableInfo">
          <thead>
            <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Specialization</th>
              <th>Start date</th>
              <th>Group</th>
              <th style="padding: 0;"></th>
            </tr>
          </thead>
          <student-info/>
        </table>
        <student-form>
          <template #disclaimer> &nbsp; </template>
        </student-form>
  </div>
</template>

<script>
import StudentForm from "../components/StudentForm.vue";
import StudentInfo from "../components/StudentInfo.vue";

export default {
  name: "StudentView",
  components: {
    StudentForm,
    StudentInfo,
  },
};
</script>

<style scoped>
.contentStudent{
  margin-left: 25px;
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  border-collapse: collapse;
}

.tableInfo{
  text-align: left;
  table-layout: fixed;
  width: 1100px;
  height: 600px;
  overflow-y: auto;
  border-collapse: collapse;
  display: block;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.tableInfo thead tr{
  text-align: left;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.tableInfo th, .tableInfo td{
  width: 1100px;
}

th:nth-of-type(1){
  width: 40px;
}

.tableInfo thead th{
  padding: 20px;
}
</style>
