<template>
  <div class="contentTrainer">
        <table class="tableInfo">
          <thead>
            <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Residence</th>
              <th>Subject</th>
              <th>Net salary</th>
              <th>Work time</th>
              <th></th>
            </tr>
          </thead>
          <trainer-info/>
        </table>
        <trainer-form>
          <template #disclaimer> &nbsp; </template>
        </trainer-form>
  </div>
</template>

<script>
import TrainerForm from "../components/TrainerForm.vue";
import TrainerInfo from "../components/TrainerInfo.vue";

export default {
  name: "TrainerView",
  components: {
    TrainerForm,
    TrainerInfo,
  },
};
</script>

<style scoped>
.contentTrainer{
  margin-left: 25px;
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  border-collapse: collapse;
}


.tableInfo{
  text-align: left;
  table-layout: fixed;
  width: 1100px;
  height: 600px;
  overflow-y: auto;
  border-collapse: collapse;
  display: block;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.tableInfo thead tr{
  text-align: left;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.tableInfo th, .tableInfo td{
  width: 1100px;
}

th:nth-of-type(1){
  width: 40px;
}

th:nth-of-type(6){
  min-width: 70px;
}

th:nth-of-type(7){
  min-width: 70px;
}

.tableInfo thead th{
  padding: 20px;
}
</style>
